<h1>{{ todolist.list_name}}</h1>
<form action="{% url 'todo:update' todolist.id %}" method="post">
    {% csrf_token %}
    <fieldset>
<ul>
    {% for item in items_list %}
    <li>
        <p style="size: 21px; color: blue;">{{item.title}}
        {% if item.checked == True %}
        <input type="checkbox" name={{item.title}} value={{item.title}} checked="checked" />
        {% else %}
        <input type="checkbox" name={{item.title}} value={{item.title}} />
        {% endif %}
    </p>
    Due {{item.due_date}}
        
    </li>
    {% endfor %}
</ul>
<input type="submit" value="UPDATE">
</fieldset>
</form>
<a href='/todo/{{todolist.id}}/createitem'><button>ADD ITEM</button></a>
<a href='/todo/{{todolist.id}}/deleteitem'><button>DELETE ITEM</button></a>
<a href='/todo/{{todolist.id}}/updateitem'><button>UPDATE ITEM</button></a>