<h1>{{ todolist.list_name}}</h1><br>
<a href='/todo/{{todolist.id}}/updatelist'><button>CHANGE NAME</button></a><br><br>
<form action="{% url 'todo:list_delete' todolist.id %}" method="GET">
    {% csrf_token %}
        <input type="submit" value="DELETE">
</form>
<form action="{% url 'todo:update' todolist.id %}" method="post">
    {% csrf_token %}
    <fieldset>
<ul>
    {% for item in items_list %}
    <li>
        <p style="size: 21px; color: blue;"><a href="/todo/{{todolist.id}}/{{item.id}}">{{item.title}}</a>
        {% if item.checked == True %}
        <input type="checkbox" name={{item.title}} value={{item.title}} checked="checked" />
        {% else %}
        <input type="checkbox" name={{item.title}} value={{item.title}} />
        {% endif %}
    </p>
    Due {{item.due_date}}
        
    </li>
    {% endfor %}
</ul>
<input type="submit" value="UPDATE">
</fieldset>
</form>
<a href='/todo/{{todolist.id}}/createitem'><button>ADD ITEM</button></a>

